body{margin:0;}
.navbar{background-color: blue;height:80px;display:flex;}
.left{height:450px;width:20%;background-color:brown;float:left; }
.right{height:450px;width:80%;background-color: aquamarine;float:right;display:flex;}
.footer{background-color: rgb(228, 204, 204);}